.thumbnail__container {
  margin-top: 4rem;
  width: 280px;
  /* background-color: #fff; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}

.thumbnail__container-text {
  height: 40%;
  padding: 1rem;
}

.thumbnail__container-text > p {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: grey;
}

.thumbnail__container-text > h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.thumbnail__container > img {
  height: 210px;
  width: 280px;
  display: block;
}
