.container {
  width: fit-content;
  margin: auto;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.latestArticles__loader {
  position: absolute;
  bottom: 50%;
  right: 50%;
  margin-right: -20px;
  margin-bottom: -20px;
  border: 1px solid #ffffff;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
}

.latestArticles__error {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translateX(50%);
  font-size: 1.6rem;
  color: gray;
}

.title {
  text-align: center;
  font-size: 4.4rem;
  line-height: 5.3rem;
  font-weight: 700;
  margin: 6.4rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
