.latestArticles__container {
  display: flex;
  width: fit-content;
  margin: auto;
  animation: opacity 1s linear;
}

.latestArticles__container-articles {
  display: grid;
  min-width: 0;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  grid-template-rows: auto auto;
  justify-content: start;
}

.latestArticles__loader {
  position: absolute;
  bottom: 50%;
  right: 50%;
  margin-right: -20px;
  margin-bottom: -20px;
  border: 1px solid #ffffff;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
}

.latestArticles__error {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translateX(50%);
  font-size: 1.6rem;
  color: gray;
}

.latest__title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  font-weight: 400;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
