.latestArticles__container {
  display: flex;
  flex-direction: column;
}

.latestArticles__container-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: calc((100% - 840px) / 2);
  grid-template-rows: auto auto;
}
