/* Common styles */
.editor__header,
.editor__upload,
.navigation__buttons {
  display: flex;
}

/* border */
.editor__title > input,
.editor__text textarea,
.editor__categories > select,
.editor__control > button,
.navigation__back > p,
.editor__upload--button,
.editor__upload--button:hover {
  border: 1px solid rgb(159, 165, 173, 0.2);
}

/* border radius */
.editor__title > input,
.editor__text > textarea,
.editor__upload--button,
.editor__categories > select,
.instructions__tips--container,
.editor__control > button,
.navigation__buttons > p:hover,
.selected,
.navigation__back > p {
  border-radius: 4px;
}

/* text area */
.editor__text > textarea::placeholder,
.editor__title > input::placeholder {
  color: #000000;
}

/*container */
.container {
  display: flex;
  width: 70%;
  margin: auto;
}

/* Editor styling */
.editor {
  flex: 2 1 0;
  margin-right: 3rem;
  padding-right: 3rem;
  border-right: 1px solid rgb(159, 165, 173, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* image upload section */
.editor__upload {
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0;
  font-size: 1.6rem;
}

.editor__upload > p {
  margin-left: 1rem;
}
.editor__upload--button > input {
  display: none;
}

.editor__upload--button:hover {
  background-color: #000000;
  color: #ffffff;
}

.editor__upload--button {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.4s;
}

/* Title input */
.editor__title {
  padding-bottom: 3rem;
}

.editor__title > input {
  padding: 8px 12px;
  font-size: 1.8rem;
  color: #000000;
  width: 100%;
  outline: none;
}

/* select category */
.editor__categories {
  padding-bottom: 3rem;
}

.editor__categories > select {
  padding: 6px 12px;
  font-size: 1.6rem;
  outline: none;
}

/* textarea */
.editor__text {
  padding-bottom: 3rem;
}
.editor__text > textarea {
  outline: none;
  padding: 6px 6px;
  font-size: 1.8rem;
  width: 100%;
}

/* Instructions tab */
.instructions {
  flex: 1 1 0;
}

.instructions__title > h6,
.instructions__tips > h6 {
  padding: 6px 12px;
  font-size: 1.6rem;
}

.instructions__file > h6 {
  font-size: 1.6rem;
  padding: 0 12px;
}

.instructions__file > p,
.instructions__tips > p,
.instructions__title > p {
  padding: 6px 12px;
  font-size: 1.7rem;
  font-weight: 300;
}

.instructions__tips--container {
  background: rgba(248, 249, 250, 0.6);
  display: flex column;
  padding: 10px;
}

.instructions__tips--container > p {
  padding: 8px 6px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.instructions__tips--containerHeader,
.instructions__tips--containerList {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.instructions__tips--containerHeader > p,
.instructions__tips--containerList > p {
  padding: 8px 6px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.instructions__tips--containerCode > div > p {
  padding: 8px 6px;
  font-size: 1.6rem;
}

.instructions__tips--containerCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

/* navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 80%;
  margin: 1rem auto 0;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

/* editor control buttons */
.editor__control {
  display: flex;
}

.editor__control > button {
  padding: 6px 15px;
  transition-duration: 0.4s;
  font-size: 1.6rem;
  cursor: pointer;
}

.editor__control--save,
.editor__control--discard {
  background-color: #ffffff;
  color: #000000;
  margin-left: 3rem;
}

.editor__control--publish {
  background-color: #9f6dcf;
  color: #ffffff;
}

.editor__control--publish:hover {
  color: #000000;
  background-color: #ffffff;
}

.editor__control--save:hover,
.editor__control--discard:hover {
  background-color: #000000;
  color: #ffffff;
}

/* navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px solid rgb(159, 165, 173, 0.2);
}

.navigation .navigation__title > p {
  font-weight: 300;
  font-size: 2rem;
}

.navigation__buttons {
  justify-content: center;
}

.navigation__buttons > p,
.navigation__back > p {
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  transition-duration: 0.2;
}

.navigation__buttons > p:hover {
  cursor: pointer;
  background-color: rgba(159, 109, 207, 0.08);
}

.navigation__back > p:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

/* utility classess */
.selected {
  background-color: rgba(159, 109, 207, 0.08);
}
