.latestArticle__container {
  display: flex;
  justify-content: space-between;
}

/* Text */
.latestArticle__container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 0;
}

.latestArticle__container-text > h6 {
  font-weight: 400;
  width: fit-content;
  font-size: 1.2rem;
}

.latestArticle__container-text > h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0.8rem 0;
}

.latestArticle__container-text > p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}

/* Image */
.latestArticle__container-img {
  height: auto;
}

.latestArticle__container-img > img {
  display: inline-block;
  height: 400px;
  width: 530px;
}
