.footer {
  background-color: #ffffff;
  display: flex;
}

.footer-join {
  margin-bottom: 4rem;
  border-bottom: 1px solid #000000;
}

.footer-join > p {
  line-height: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}
.footer-join > h2 {
  border-bottom: 1px solid #000000;
  padding-bottom: 0.5rem;
}

.footer-join > button {
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 4px 12px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin: 1rem auto 1rem;
  transition: 1s;
  border-radius: 2px;
}

.footer-join > button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.footer-follow > h2,
.footer-join > h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.footer-follow h2 {
  margin-bottom: 1rem;
}

.footer-follow > a {
  display: block;
  text-decoration: none;
}

.footer-follow {
  margin-top: 2rem;
}

.footer-follow > a > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted #000000;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.footer-follow > a > div > img {
  width: 20px;
  border-radius: 2px;
}

.footer-follow > a > div > p,
.footer-join > p {
  color: #000000;
  font-size: 1.3rem;
}
