.dashboard__content {
  width: 60%;
  margin: auto;
}

.dashboard__content-profileImage {
  background-color: rgb(159, 165, 173, 0.1);
  text-align: center;
  padding: 6px 0;
  position: relative;
}

.dashboard__content-profileImage > img {
  width: 100px;
  padding: 3px;
  border-radius: 50%;
  border: 1px dotted rgb(159, 165, 173);
}

.dashboard__content-profileImage > p {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 1rem;
  color: rgb(159, 165, 173);
}

.dashborad__content-userDetails {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 2rem;
}

.dashborad__content-user > button {
  width: fit-content;
  display: block;
  margin: 2rem auto 0;
  padding: 4px 24px;
  border: 1px solid rgb(159, 165, 173, 0.2);
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: 300;
  font-size: 1.4rem;
  transition: 0.5s;
}

.dashborad__content-user > button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.dashborad__content-userDetails > p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
  display: flex;
  margin-left: 2rem;
}

.dashborad__content-userDetails > p > span > img {
  width: 18px;
  margin-right: 1rem;
  border-radius: 2px;
}

.dashboard__content-articles {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.dashboard__content-articles > p {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
