.categoriesPage__grid {
  width: 100rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 315px);
  column-gap: 2rem;
  justify-content: left;
}

.categoriesPage__container {
  width: fit-content;
  margin: auto;
  animation: opacity 1s linear;
}

.categoriesPage__container > p {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.categoriesPage__pages {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.categoriesPage__pages > p {
  font-size: 1.6rem;
  padding: 3px 9px;
  margin: 0rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  border-radius: 2px;
  transition: 0.4s;
}

.categoriesPage__pages > p:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.activepage {
  background-color: #000000 !important;
  color: #ffffff !important;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
