.categoriesPage__grid {
  width: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr auto;
}

.categoriesPage__container {
  width: 60%;
  margin: auto;
}

.categoriesPage__container > p {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
}
