.container {
  width: 85.4rem;
  margin: auto;
  text-align: center;
}

.heoImage > img {
  width: 85.4em;
}

.header {
  margin: 3.5em auto 2.5em;
  text-align: center;
  width: 90%;
}

.header > h1 {
  font-size: 4rem;
  line-height: 120%;
  color: #000000;
  font-weight: 700;
}

.text {
  padding: 0 0 3em 0;
  text-align: center;
  width: 75%;
  margin: auto;
  border-bottom: 2px solid #000000;
}

.text > p {
  font-size: 2rem;
}
